{% extends 'page.html' %}

{% block content %}
<div class="container my-5">
  <h2>Components</h2>
  <p class="note">The following is a list of examples of components that can be used to quickly scaffold new page layouts.</p>
  <div class="col-sm-12">
    <ul>
      <li><a href="#example-hero">Hero</a></li>
      <li><a href="#example-grid">Grid</a></li>
    </ul>
  </div>
</div>
<div id="example-hero">
  <div class="container">
    <h3>Hero</h3>
    {% include 'partials/components/hero.html' %}
  </div>
</div>

<div id="example-grid">
  <div class="container"><h3>Grid</h3></div>
  {% include 'partials/components/grid.html' %}
</div>
{% endblock %}
